.screen4_heading
{
    margin-top: -70px;
    padding-bottom: 70px;
} 
.btn_groom,.btn_bride
{
    border: none;
    background-color: #f5362e;
    color: white;
    padding: 7px 25px;
}
.mainbg
{
    height: 100%;
    margin-top: 75px;
    background: rgb(255,255,255);
background: linear-gradient(360deg, rgba(255,255,255,1) 0%, rgba(245,54,32,1) 100%);
padding-bottom: 140px;
}